@import "tailwindcss";

@layer base {
  @media print {
    body * {
      visibility: hidden;
    }
    #printable-document, #printable-document * {
      visibility: visible;
    }
    #printable-document {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
